.container {
  display: flex;
  flex: row wrap;
  margin: 10px;
}

#input {
  width: 50%;
  height: 300px;
  border: none;
  padding: 0.5em;
}

#output {
  white-space: pre;
  font-family: monospace;
  font-weight: light;
  margin: 0;
  width: 50%;
  height: 300px;
  background-color: #eee;
  padding: 0.5em;
}
